{% extends 'index.html' %}

{% block content %}
    <div class="container mt-5" style="background-color: #f7f5f2; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h4>Libros</h4>
        <ul class="list-group">
            {% for libro in libros %}
                <li class="list-group-item">
                    <strong>Titulo:</strong> {{ libro.titulo }}<br>
                    <strong>Autor:</strong> {{ libro.autor }}<br>
                    <strong>Genero:</strong> {{ libro.genero }}
                </li>
            {% endfor %}
        </ul>

        <a href="http://127.0.0.1:8000/AppLibros/agregar_libro/" class="btn btn-primary mt-3">Agregar libro</a>
    </div>
{% endblock %}
